* {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'Inter';
    src: url(../../resources/fonts/Inter-SemiBold.otf);
    font-weight: 600;
}
body {
    font-family: 'Inter';
    font-size: 16px;
    box-sizing: border-box;
}
main {
    height: 100%;
}
input {
    font-family: 'Inter';
    font-size: 16px;
}
.container {
    margin: 0 150px;
}

/* header start */
header {
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #6F68EF;
}
.header-wrap {
    background-color: #6F68EF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.user-role {
    color: white;
}

.header-items-wrap {
    display: flex;
    gap: 20px;
    color: #6F68EF;
    height: 30px;
    align-items: center;
    width: 60%;
    justify-content: space-between;
}
.header-item {
    width: 20%;
    text-align: center;
    background-color: white;
    padding: 5px 25px;
    border-radius: 10px;
    text-decoration: none;
    color: #6F68EF;
}
#add-list {
    width: 180px;
    font-family: 'Inter';
    font-size: 16px;
    color: #6F68EF;
    border: none;
    border-radius: 10px;
    padding: 5px;
}
/* header end */


/* buttons start */
button {
    cursor: pointer;
    font-family: 'Inter';
}
.create-wrap {
    margin: 30px 0 30px;
}
.create {
    width: 20%;
    text-align: center;
    background-color: white;
    padding: 5px 25px;
    border: #6F68EF solid 2px;
    border-radius: 10px;
    text-decoration: none;
    color: #6F68EF;
}
.button-logout{
    width: 20%;
    text-align: center;
    background-color: transparent;
    padding: 5px 25px;
    border-radius: 10px;
    text-decoration: underline;
    color: white;
}
.buttons-wrap {
    display: flex;
    justify-content: center;
}
.buttons {
    display: flex;
    gap: 30px;
    margin-top: 70px;
    width: 35%;
}
.button-submit {
    color: white;
    background-color: #6F68EF;
    border: transparent;
    border-radius: 10px;
    padding: 10px;
    width: 200px;
}

.button-reset {
    color: #6F68EF;
    border: solid 1px #6F68EF;
    border-radius: 10px;
    width: 200px;
    text-align: center;
    padding: 10px 0 10px;
}
/* buttons end */

html, body {
    height: 100%;
}
body {
    margin: 0;
}
.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.login-box {
    max-height: 350px;
    width: 20%;
    border: solid #6F68EF 2px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
}

.login-box-title {
    display: flex;
    justify-content: center;
    color: white;
    background-color: #6F68EF;
    width: 100%;
    height: 50px;
    text-align: center;
}
.login-title {
    color: white;
    text-decoration: none;
    padding: 10px;
}

.login-form {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 0 0 50px;
}
.login-form-items{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.form-control {
    font-family: 'Inter';
    background-color: #E5E5E5;
    border: transparent;
    border-radius: 10px;
    padding: 10px 20px;
}

.btn-success-box {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.btn-success {
    font-family: 'Inter';
    background-color: #6F68EF;
    color: white;
    border: transparent;
    border-radius: 10px;
    padding: 10px 30px;
}

body {
    box-sizing: border-box;
}
.container {
    margin: 0 150px;
}

/* main start */

#sort-list {
    font-family: 'Inter';
    font-size: 16px;
    color: #C4C4C4;
    border: solid 1px #C4C4C4;
    border-radius: 10px;
    padding: 5px;
    margin: 15px 0px 15px;
}

input {
    width: 100%;
}
/* add-abonent start*/
.add-abonent {
    display: flex;
    justify-content: space-between;
}
.add-abonent-wrap {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
}
.add-abonent-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.add-abonent-input-form {
    box-sizing: border-box;
    width: 100%;
    background-color: #E5E5E5;
    border: transparent;
    border-radius: 10px;
    padding: 10px 20px;
}
#division-list {
    width: 100%;
    font-family: 'Inter';
    background-color: #E5E5E5;
    border: transparent;
    font-size: 16px;
    border-radius: 10px;
    padding: 10px 20px;
}
/* add-abonent-end */

/* add-division start*/
.add-division {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.add-division-item {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.add-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.add-input-form {
    width: 50%;
    background-color: #E5E5E5;
    border: transparent;
    border-radius: 10px;
    padding: 10px 20px;
}
/* add-division end*/

/* add-room start*/
.add-room {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.add-room-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.add-room-input-form {
    background-color: #E5E5E5;
    border: transparent;
    border-radius: 10px;
    padding: 10px 20px;
}
/* add-room end*/

/* add-phone start*/
.add-phone {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.add-phone-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.add-phone-input-form {
    background-color: #E5E5E5;
    border: transparent;
    border-radius: 10px;
    padding: 10px 20px;
}
/* add-phone end*/

.form-wrap {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.main-title {
    width: 300px;
    text-decoration: underline;
}
.list-wrap {
    display: flex;
    flex-direction: column;
}
.list-item-title {
    display: flex;
}
.list-item {
    display: flex;
}
.list {
    width: 300px;
    margin: 20px 0 20px;
}

/* main end */
